@media (max-width: 1536px) {
  :root {
    --container-width-main: 1280px;
    --container-width-adjacent: 1024px;

    --heading: 2.5rem;
    --subheading: 1.8rem;
    --small-heading: 1.3rem;
    --text: 1rem;

    --width-card: 320px;
    --box-shadow: 0 0.9px var(--1) -1px rgba(0, 0, 0, 0.08), 0 2.6px var(--2) -1px rgba(0, 0, 0, 0.06), 0 5.7px 12px -1px rgba(0, 0, 0, 0.05),
      0 var(--4) var(--4) -1px rgba(0, 0, 0, 0.04);
  }
}

@media (max-width: 1280px) {
  :root {
    --container-width-main: 1024px;
    --container-width-adjacent: 768px;

    --heading: 2rem;
    --subheading: 1.6rem;
    --small-heading: 1.2rem;
    --text: 0.9rem;

    --width-card: 320px;
    --box-shadow: 0 0.8px var(--1) -1px rgba(0, 0, 0, 0.08), 0 2.4px var(--2) -1px rgba(0, 0, 0, 0.06), 0 5px 10px -1px rgba(0, 0, 0, 0.05),
      0 var(--4) var(--4) -1px rgba(0, 0, 0, 0.04);
  }

  .main-text {
    margin-top: var(--4);
  }

  .gallery-section {
    max-width: 100%;
    padding: 0 20px 100px;
  }

  .gallery-container {
    margin-bottom: 10px;
  }

  .gallery-hero-image {
    max-width: 100%;
    margin-top: 40px;
  }

  /* Form */
  .contact-section {
    max-width: 100%;
    padding: 0 20px;
  }

  .contact-wrapper {
    max-width: 100%;
  }

  .contact-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .info-column {
    width: 100%;
    max-width: 100%;
  }

  .info-content {
    max-width: 100%;
    margin-top: 40px;
  }

  .contact-description {
    max-width: 100%;
  }

  .form-column {
    width: 100%;
    margin-left: 0;
  }

  .form-wrapper {
    max-width: 100%;
    margin-top: 40px;
  }

  .form-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .input-column {
    width: 100%;
  }

  .input-wrapper {
    margin-top: 28px;
  }

  .message-column {
    width: 100%;
    margin-left: 0;
  }

  .message-wrapper {
    margin-top: 28px;
  }
}

@media (max-width: 1024px) {
  :root {
    --container-width-main: 768px;
    --container-width-adjacent: 640px;

    --heading: 1.8rem;
    --subheading: 1.4rem;
    --small-heading: 1rem;
    --text: 0.85rem;

    --width-card: 320px;
    --box-shadow: 0 0.7px var(--1) -1px rgba(0, 0, 0, 0.08), 0 2px var(--2) -1px rgba(0, 0, 0, 0.06), 0 4px 8px -1px rgba(0, 0, 0, 0.05),
      0 var(--4) var(--4) -1px rgba(0, 0, 0, 0.04);

    --line-height-xl: 2.25rem;
    --line-height-text: 1.2rem;
  }

  /* Services */
  .services-row {
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 0;
  }

  .service-column {
    width: 100%;
  }

  .service-card {
    margin-top: 40px;
  }

  .features-cards {
    flex-direction: column;
  }

  .main-heading-underline {
    margin-bottom: var(--0-5);
  }

  .gallery .gallery-content {
    grid-template-rows: repeat(3, 200px);
  }

  /* Carousel */
  .features-cards {
    flex-direction: row;
    max-width: var(--container-width-adjacent);
  }
}

@media (max-width: 768px) {
  :root {
    --container-width-main: 640px;
    --container-width-adjacent: 512px;

    --heading: 1.6rem;
    --subheading: 1.2rem;
    --small-heading: 0.9rem;
    --text: 0.8rem;

    --width-card: 320px;
    --box-shadow: 0 0.6px var(--1) -1px rgba(0, 0, 0, 0.08), 0 1.8px var(--2) -1px rgba(0, 0, 0, 0.06), 0 3.5px 7px -1px rgba(0, 0, 0, 0.05),
      0 var(--4) var(--4) -1px rgba(0, 0, 0, 0.04);
  }

  .cta-button {
    padding: var(--2) var(--2);
    width: 150px;
  }
}

@media (max-width: 640px) {
  :root {
    --container-width-main: 475px;
    --container-width-adjacent: 375px;

    --heading: 1.4rem;
    --subheading: 1rem;
    --small-heading: 0.8rem;
    --text: 0.75rem;

    --width-card: 320px;
    --box-shadow: 0 0.5px var(--1) -1px rgba(0, 0, 0, 0.08), 0 1.5px var(--2) -1px rgba(0, 0, 0, 0.06), 0 2.5px 6px -1px rgba(0, 0, 0, 0.05),
      0 var(--4) var(--4) -1px rgba(0, 0, 0, 0.04);
  }

  .gallery .gallery-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 150px);
  }

  .features-cards {
    flex-wrap: wrap;
  }

  .feature-description {
    display: none;
  }
}

@media (max-width: 475px) {
  :root {
    --container-width-main: 375px;
    --container-width-adjacent: 320px;

    --heading: 1rem;
    --subheading: 0.9rem;
    --small-heading: 0.75rem;
    --text: 0.7rem;

    --width-card: 280px;
    --box-shadow: 0 0.4px var(--1) -1px rgba(0, 0, 0, 0.08), 0 1.2px var(--2) -1px rgba(0, 0, 0, 0.06), 0 2px 5px -1px rgba(0, 0, 0, 0.05),
      0 var(--4) var(--4) -1px rgba(0, 0, 0, 0.04);
  }

  .gallery .gallery-content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 150px);
  }

  .features-cards {
    flex-direction: column;
    align-items: center;
  }

  .feature-description {
    display: none;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cta-button {
    width: 114px;
  }
}
