@media (max-width: 1536px) {
  :root {
    --container-width-main: 1280px;
    --container-width-adjacent: 1024px;

    --heading: 2.5rem;
    --subheading: 1.8rem;
    --small-heading: 1.3rem;
    --text: 1rem;

    --width-card: 320px;
    --box-shadow: 0 0.9px var(--1) -1px rgba(0, 0, 0, 0.08), 0 2.6px var(--2) -1px rgba(0, 0, 0, 0.06), 0 5.7px 12px -1px rgba(0, 0, 0, 0.05),
      0 var(--4) var(--4) -1px rgba(0, 0, 0, 0.04);
  }
}

@media (max-width: 1280px) {
  :root {
    --container-width-main: 1024px;
    --container-width-adjacent: 768px;

    --heading: 2rem;
    --subheading: 1.6rem;
    --small-heading: 1.2rem;
    --text: 0.9rem;

    --width-card: 320px;
    --box-shadow: 0 0.8px var(--1) -1px rgba(0, 0, 0, 0.08), 0 2.4px var(--2) -1px rgba(0, 0, 0, 0.06), 0 5px 10px -1px rgba(0, 0, 0, 0.05),
      0 var(--4) var(--4) -1px rgba(0, 0, 0, 0.04);
  }

  .main-text {
    margin-top: var(--4);
  }

  .about-item {
    height: 240px;
  }

  /* Form */
  .contact-section {
    max-width: 100%;
    padding: 0 20px;
  }

  .contact-wrapper {
    max-width: 100%;
  }

  .contact-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .info-column {
    width: 100%;
    max-width: 100%;
  }

  .info-content {
    max-width: 100%;
    margin-top: 40px;
  }

  .contact-description {
    max-width: 100%;
  }

  .form-column {
    width: 100%;
    margin-left: 0;
  }

  .form-wrapper {
    max-width: 100%;
    margin-top: 40px;
  }

  .form-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .input-column {
    width: 100%;
  }

  .input-wrapper {
    margin-top: 28px;
  }

  .message-column {
    width: 100%;
    margin-left: 0;
  }

  .message-wrapper {
    margin-top: 28px;
  }
}

@media (max-width: 1024px) {
  :root {
    --container-width-main: 768px;
    --container-width-adjacent: 640px;

    --heading: 1.8rem;
    --subheading: 1.4rem;
    --small-heading: 1rem;
    --text: 0.85rem;

    --width-card: 320px;
    --box-shadow: 0 0.7px var(--1) -1px rgba(0, 0, 0, 0.08), 0 2px var(--2) -1px rgba(0, 0, 0, 0.06), 0 4px 8px -1px rgba(0, 0, 0, 0.05),
      0 var(--4) var(--4) -1px rgba(0, 0, 0, 0.04);

    --line-height-xl: 2.25rem;
    --line-height-text: 1.2rem;
  }

  .about-item {
    width: var(--percent-75);
    height: 340px;
  }

  /* Services */
  .services-row {
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 0;
  }

  .service-column {
    width: 100%;
  }

  .service-card {
    margin-top: 40px;
  }

  .features-cards {
    flex-direction: column;
  }

  .main-heading-underline {
    margin-bottom: var(--0-5);
  }

  /* Carousel */
  .features-cards {
    flex-direction: row;
    max-width: var(--container-width-adjacent);
  }
}

@media (max-width: 768px) {
  :root {
    --container-width-main: 640px;
    --container-width-adjacent: 512px;

    --heading: 1.6rem;
    --subheading: 1.2rem;
    --small-heading: 0.9rem;
    --text: 0.8rem;

    --width-card: 320px;
    --box-shadow: 0 0.6px var(--1) -1px rgba(0, 0, 0, 0.08), 0 1.8px var(--2) -1px rgba(0, 0, 0, 0.06), 0 3.5px 7px -1px rgba(0, 0, 0, 0.05),
      0 var(--4) var(--4) -1px rgba(0, 0, 0, 0.04);
  }

  #nav .nav-pc {
    pointer-events: none;
    display: none;
    visibility: hidden;
  }

  #nav .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: var(--12);
    height: var(--12);
  }

  #nav .logo img {
    width: 100%;
    height: 100%;
  }

  #nav .mobile-menu {
    visibility: visible;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: auto;
    left: 0;
    z-index: 1000;
    user-select: none;
    width: 100vw;
    height: 50px;
    background-color: var(--plain-white);
  }

  /* For the close button */
  #nav .mobile-menu input {
    display: flex;
    width: 60px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 1000;
  }

  #nav .mobile-menu .spans {
    margin-top: 15px;
    margin-left: 15px;
    width: 29px;
  }

  #nav .mobile-menu .spans span {
    display: flex;
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: var(--dark-color);
    border-radius: 3px;
    z-index: 10000;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #nav .mobile-menu .spans span:first-child {
    transform-origin: 0% 0%;
  }

  #nav .mobile-menu .spans span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #nav .mobile-menu input:checked ~ .spans span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -10px);
    background: var(--white);
  }

  #nav .mobile-menu input:checked ~ .spans span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #nav .mobile-menu input:checked ~ .spans span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-5px, 15px);
  }

  /* For the links and lists */
  #nav .mobile-menu ul {
    position: absolute;
    width: 110vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
    z-index: 100;
    margin: -50px 0 0 -25px;
    padding-top: 100px;
    background-color: rgba(51, 51, 51, 0.97);
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: 0.7s;
  }

  #nav .mobile-menu ul li a {
    padding: 20px 0;
    font-size: 1.2rem;
    display: block;
    text-align: center;
    transition: all 0.5s;
    color: var(--plain-white);
    font-weight: 900;
    width: 150px;
    margin: 25px;
  }

  #nav .mobile-menu ul li a:hover {
    background: rgba(255, 246, 234, 0.158);
    border-radius: 10px;
  }

  #nav .mobile-menu ul li a:hover::after {
    width: 0;
  }

  #nav .mobile-menu input:checked ~ ul {
    transform: none;
  }
}

@media (max-width: 640px) {
  :root {
    --container-width-main: 475px;
    --container-width-adjacent: 375px;

    --heading: 1.4rem;
    --subheading: 1rem;
    --small-heading: 0.8rem;
    --text: 0.75rem;

    --width-card: 320px;
    --box-shadow: 0 0.5px var(--1) -1px rgba(0, 0, 0, 0.08), 0 1.5px var(--2) -1px rgba(0, 0, 0, 0.06), 0 2.5px 6px -1px rgba(0, 0, 0, 0.05),
      0 var(--4) var(--4) -1px rgba(0, 0, 0, 0.04);
  }

  .about-item {
    width: var(--percent-100);
    height: 250px;
  }

  .features-cards {
    flex-wrap: wrap;
  }

  .feature-description {
    display: none;
  }

  .feature-content {
    align-items: center;
  }
}

@media (max-width: 475px) {
  :root {
    --container-width-main: 375px;
    --container-width-adjacent: 320px;

    --heading: 1rem;
    --subheading: 0.9rem;
    --small-heading: 0.75rem;
    --text: 0.7rem;

    --width-card: 280px;
    --box-shadow: 0 0.4px var(--1) -1px rgba(0, 0, 0, 0.08), 0 1.2px var(--2) -1px rgba(0, 0, 0, 0.06), 0 2px 5px -1px rgba(0, 0, 0, 0.05),
      0 var(--4) var(--4) -1px rgba(0, 0, 0, 0.04);
  }

  .features-cards {
    flex-direction: column;
    align-items: center;
  }

  .feature-description {
    display: none;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 450px) {
  :root {
    --container-width-main: 355px;
    --container-width-adjacent: 300px;

    --heading: 0.7rem;
    --subheading: 0.567rem;
    --small-heading: 0.65rem;
    --text: 0.54rem;

    --width-card: 265px;
    --box-shadow: 0 0.4px var(--1) -1px rgba(0, 0, 0, 0.08), 0 1.2px var(--2) -1px rgba(0, 0, 0, 0.06), 0 2px 5px -1px rgba(0, 0, 0, 0.05),
      0 var(--4) var(--4) -1px rgba(0, 0, 0, 0.04);
  }
}
