/*=========== TABLE OF CONTENTS ===========
1. General css
    1.1. Utilitty classes
2. Nav Bar
3. Hero section
4. About-us section
==========================================*/

:root {
    --dark-color: #333;
    --white: #f0efef;
    --adjacent-color: rgba(31, 31, 255, 0.753);

    --heading: 3rem;
    --subheading: 1.8rem;
    --small-heading: 1.3rem;
    --text: 1.1rem;

    --box-shadow: -1px 5px 10px -6px #333;
}

/*-------------------------------------
	1.General css
--------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    font-size: var(--text);
}

ul, ol {
    list-style-type: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--dark-color);
    position: relative;
}

a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--adjacent-color);
    transition: 0.5s ease;
    position: absolute;
    bottom: -2px;
    left: 0;
}

a:hover::after {
    width: 100%;
}

/*-------------------------------------
	1.1. Utilitty classes
--------------------------------------*/
.container {
    margin: 0 auto;
    max-width: 1536px;
    width: 100vw;
    height: 100%;
}

.padding-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 60ch;
}

/* Headings */
.hero-heading {
    font-size: var(--heading);
    color: var(--white);
    text-transform: uppercase;
}

.main-heading-underline {
    font-size: var(--heading);
    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main-heading-underline::before,
.main-heading-underline::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: var(--adjacent-color);
}

.main-heading-underline::before {
    margin-right: 10px;
}

.main-heading-underline::after {
    margin-left: 10px;
}

.subheading {
    font-size: var(--subheading);
    color: var(--dark-color);
}

.small-heading {
    font-size: var(--small-heading);
    color: var(--dark-color);
}

/* Texts */
.hero-text {
    opacity: 0.8;
    color: var(--white);
}

.main-text {
    opacity: 0.8;
    color: var(--dark-color);
}

/* Button */
.btn {

}

/* Gallery photos */
.img-big {

}

.img-main {
    width: 600px;
    height: 400px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background-size: cover;
}

.img-small {

}

/*-------------------------------------
	2.Nav Bar
--------------------------------------*/
#nav {
    width: 100vw;
    box-shadow: var(--box-shadow);
    font-weight: 900;
    z-index: 10000;
}

.nav-pc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: var(--text);
}

.nav-pc li {
    display: inline-block;
}

.nav-pc a {
    transition: all 0.5s ease;
}
.nav-pc a:hover {
    color: var(--adjacent-color);
}

.logo {
    width: 70px;
    height: 70px;
}

/*-------------------------------------
	3.Hero section
--------------------------------------*/
.hero-section-container {
    position: relative;
    height: 80vh;
    width: 100vw;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.hero-section-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/205402970-car-service-station-auto-repair-car-service-station-auto-repair-shop-auto-mechanic.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: 1;
}

.hero-section-content {
    position: relative;
    z-index: 2;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
}

/*-------------------------------------
	4. About-us section
--------------------------------------*/
.about-us-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

.images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}