/*=========== TABLE OF CONTENTS ===========
1. General css
    1.1. Utilitty classes
2. Nav Bar
3. Hero section
4. About-us section
5. Carousel
6. Services section
7. Gallery
8. Maps
9. Footer
==========================================*/

:root {
  --dark-color: #333;
  --white: #f0efef;
  --adjacent-color: rgba(31, 31, 255, 0.753);

  --heading: 3rem;
  --subheading: 1.8rem;
  --small-heading: 1.3rem;
  --text: 1.1rem;

  --box-shadow: -1px 5px 10px -6px #333;
}

/*-------------------------------------
	1.General css
--------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: var(--text);
  max-width: 100vw;
}

ul,
ol {
  list-style-type: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
  position: relative;
}

a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--adjacent-color);
  transition: 0.5s ease;
  position: absolute;
  bottom: -2px;
  left: 0;
}

a:hover::after {
  width: 100%;
}

textarea {
  resize: none;
}

/*-------------------------------------
	1.1. Utilitty classes
--------------------------------------*/
.container {
  margin: 0 auto;
  max-width: 1536px;
  width: 100vw;
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
}

.padding-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 60ch;
}

/* Headings */
.hero-heading {
  font-size: var(--heading);
  color: var(--white);
  text-transform: uppercase;
}

.main-heading-underline {
  font-size: var(--heading);
  color: var(--dark-color);
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.main-heading-underline::before,
.main-heading-underline::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 5px;
  background-color: var(--adjacent-color);
}

.main-heading-underline::before {
  margin-right: 10px;
}

.main-heading-underline::after {
  margin-left: 10px;
}

.subheading {
  font-size: var(--subheading);
  color: var(--dark-color);
  margin-bottom: 10px;
}

.subheading-white {
  font-size: var(--subheading);
  color: var(--white);
  margin: 10px 0;
}

.small-heading {
  font-size: var(--small-heading);
  color: var(--dark-color);
  margin-bottom: 8px;
  transition: all 0.7s;
}

/* Texts */
.hero-text {
  margin-top: 8px;
  max-width: 100%;
  overflow: hidden;
  font-size: var(--text);
  color: var(--white);
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
}

.main-text {
  margin-top: 8px;
  width: 100%;
  overflow: hidden;
  font-size: var(--text);
  color: var(--Text-text, #343741);
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  transition: all 0.7s;
}

/* Button */
.btn {
}

/* Gallery photos */
.gallery-item {
  aspect-ratio: 1.15;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*-------------------------------------
	2.Nav Bar
--------------------------------------*/
#nav {
  position: fixed;
  background-color: #fff;
  width: 100%;
  box-shadow: var(--box-shadow);
  font-weight: 900;
  z-index: 10000;
}

.nav-pc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: var(--text);
}

.nav-pc li {
  display: inline-block;
}

.nav-pc a {
  transition: all 0.5s ease;
}
.nav-pc a:hover {
  color: var(--adjacent-color);
}

.logo {
  width: 70px;
  height: 70px;
}

/*-------------------------------------
	3.Hero section
--------------------------------------*/
.hero-section-container {
  position: relative;
  height: 80vh;
  width: 100%;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.hero-section-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/205402970-car-service-station-auto-repair-car-service-station-auto-repair-shop-auto-mechanic.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: 1;
}

.hero-section-content {
  position: relative;
  z-index: 2;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  width: 100%;
}

/*-------------------------------------
	4. About-us section
--------------------------------------*/
.gallery-grid-about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 15px;
  width: 30%;
}

.about-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.about-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.about-3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/*-------------------------------------
	5. Carousel
--------------------------------------*/
.features-carousel {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/images/car-service-key-features-a-1920x1080tcm-3154-1323224_Small-Landscape.webp") center/cover fixed;
  background-size: cover;
  box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.5);
}

.features-cards {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.feature-card {
  border-radius: 5px;
  display: flex;
  width: 320px;
  padding: var(--4, 16px);
  flex-direction: column;
  gap: var(--2, 8px);
  transition: all 0.3s;
}

.feature-card.active {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.2);
}

.feature-indicator {
  background-color: rgba(255, 255, 255, 0.425);
  min-height: 4px;
  width: 100%;
}

.feature-indicator.active {
  background: var(--adjacent-color);
}

.feature-card:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 3px 0 rgba(15, 15, 15, 0.1), 0 1px 2px -1px rgba(15, 15, 15, 0.1);
}

.feature-content {
  display: flex;
  margin-top: 8px;
  width: 100%;
  flex-direction: column;
}

.feature-title {
  color: var(--white, #fff);
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}

.feature-description {
  color: var(--gray-200, #e5e7eb);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
}

.hero-text-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
}

.cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-lg, 8px);
  background: var(--primary-600, #1c64f2);
  margin-top: 40px;
  width: 171px;
  padding: var(--25, 10px) var(--5, 20px);
  gap: var(--2, 8px);
  font-size: 14px;
  font-weight: 500;
}

.button-icon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 20px;
  margin: auto 0;
}
/*-------------------------------------
	6. Services section
--------------------------------------*/
.services {
  background-color: #f5f5f5;
}

.services-grid {
  width: 1120px;
  max-width: 100%;
}

.services-row {
  gap: 20px;
  display: flex;
}

.service-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0;
}

.service-card {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0.9px 4px -1px rgba(0, 0, 0, 0.08), 0 2.6px 8px -1px rgba(0, 0, 0, 0.06), 0 5.7px 12px -1px rgba(0, 0, 0, 0.05), 0 15px 15px -1px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  transition: all 0.5s;
}

.service-card:hover {
  cursor: pointer;
  background-color: var(--adjacent-color);
  box-shadow: 0 0.9px 4px -1px rgba(27, 24, 221, 0.562), 0 2.6px 8px -1px rgba(27, 24, 221, 0.562), 0 5.7px 12px -1px rgba(27, 24, 221, 0.562),
    0 15px 15px -1px rgba(27, 24, 221, 0.562);
}

.service-card:hover .small-heading,
.service-card:hover .main-text,
.service-card:hover .card-icon-wrapper {
  color: var(--white);
  filter: brightness(1.5);
}

.card-icon-wrapper {
  border-radius: 6px 6px 0 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.card-icon {
  display: flex;
  width: 40px;
  align-items: center;
  justify-content: center;
}

.card-icon img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 40px;
}

.card-content {
  display: flex;
  margin-top: 16px;
  width: 100%;
  flex-direction: column;
  font-family: Inter, sans-serif;
  text-align: center;
}

/*-------------------------------------
	7. Gallery
--------------------------------------*/
.gallery-hero-image {
  aspect-ratio: 2.35;
  background-size: cover;
  object-position: center;
  width: 75%;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 75%;
}

.gallery-item {
  aspect-ratio: 1.15;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*-------------------------------------
	8. Maps
--------------------------------------*/
.map-container {
  width: 100%;
  height: 70vh;
}

.map-frame {
  border: none;
  width: 100%;
  height: 100%;
}
/*-------------------------------------
	9. Footer
--------------------------------------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.contact-section {
  background-color: rgba(38, 38, 38, 1);
  width: 100%;
}

.contact-wrapper {
  width: 80%;
}

.contact-content {
  gap: 20px;
  display: flex;
}

.info-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  max-width: 45%;
}

.info-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--white);
}

.contact-label {
  font-size: 10px;
  font-weight: 800;
}

.contact-description {
  font-size: 16px;
  align-self: stretch;
  margin-top: 29px;
  max-width: 100%;
  overflow-wrap: break-word;
}

.form-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 100%;
  margin-left: 20px;
}

.form-wrapper {
  margin-top: 9px;
  flex-grow: 1;
}

.form-content {
  gap: 20px;
  display: flex;
}

.input-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  max-width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.form-input {
  border-radius: 8px;
  background-color: transparent;
  padding: 15px 19px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 253, 253, 0.5);
  width: 100%;
}

.message-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 60%;
  margin-left: 20px;
}

.message-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-weight: 600;
}

.form-textarea {
  border-radius: 8px;
  background-color: transparent;
  font-size: 13px;
  color: rgba(255, 253, 253, 0.5);
  padding: 15px 23px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 150px;
}

.submit-button {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  align-self: flex-end;
  margin-top: 18px;
  font-size: 11px;
  color: rgba(0, 0, 0, 1);
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
